.paginationBttns {
    margin-top: 25px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
  .lastname:hover{
    color: #7f7785;
  }

  .firstname:hover{
    color: #7f7785;
  }


  .datatableContainer {
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center; 
    
  }
  
  .custom-datatable {
    border-radius: 8px; 
    overflow: hidden;
    width: 90%;
  }
  
  /* .custom-datatable .p-datatable-thead > tr > th {
    border-top-left-radius: 8px; 
    padding: 8px;
  } */
  
  .custom-datatable .p-datatable-thead > tr > th {
    border-radius: 1px; 
    padding: 8px;
  }
  
  .custom-datatable .p-datatable-tbody > tr:last-child > td {
    border-radius: 1px; 
    padding: 8px;
  }
  .custom-datatable .p-datatable-tbody > tr > td { 
    padding: 8px;
  }
  
  /* .custom-datatable .p-datatable-tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 8px; 
    padding: 8px;
    border: solid black;
  } */

  .warning{
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
  }

  .btnContainer{
    margin-top: 6px;
    display: flex;
    justify-content: center;
  }

  .yesbtn {
    color: white;
    background-color: red;
    padding: 6px;
    width: 60px;
    border-radius: 4px;
    margin-right: 4px;
  }

  .nobtn{
    color: white;
    background-color: green;
    padding: 6px;
    width: 60px;
    border-radius: 4px;
    margin-left: 4px;
  }

  .updateHeader {
    padding: 12px;
  }

  .deleteHeader {
    padding: 12px;
  }
  